extends layout

block content
  doctype html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet' href='../css/bootstrap.min.css')
    link(rel='stylesheet' href='../stylesheets/style.css')
    link(rel='stylesheet' href='../stylesheets/forms.css')
    link(rel='stylesheet' href='../css/boxicons.min.css')
  include includes/navbar
  .container-elements-page
    .container-image
    .container-gral
      .container-form
        form#form-create-announce.create-announce-form(action='/announces/create', method='POST')
          h2.title-form Créer un annonce
          .input-group.mb-3
            span#inputGroup-sizing-default.input-group-text Nom :
            input#name-announce.form-control(type='text' , name='name' aria-label='Sizing example input', aria-describedby='inputGroup-sizing-default')
          .input-group.mb-3
            label.input-group-text(for='inputGroupSelect01') Type de bien
            select#type-announce.form-select(name='type', required)
              option(value='', disabled, selected) Choisir...
              option(value='Vente') Vente
              option(value='Location') Location
          .form-check(style="display:flex; align-items: center;")
            input#publish-announce.form-check-input(type='checkbox' value='true' name='published' style="width:25px; height:25px; margin-right:15px")
            label.form-check-label(for='defaultCheck1' style="font-size:1rem; margin-top:2px;") Publier
          .input-group.mb-3
            label.input-group-text(for='inputGroupSelect01') Statut
            select#status-announce.form-select(name='status', required)
              option(value='', disabled, selected) Choisir...
              option(value='Disponible') Disponible
              option(value='Loué') Loué
              option(value='Vendu') Vendu
          .form-group
            label(for='exampleFormControlTextarea1') Description
            textarea#description-announce.form-control(name='description', rows='3',required)
          .input-group.mb-3.price-input
            span.input-group-text Prix
            span.input-group-text €
            input#price-anounce.form-control(type='number', name='price',required) 
          .input-group.mb-3
            span.input-group-text Date :
            input#date-announce.form-control(type='date', name='date' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default' required)
          .photosSection
            h5(style="font-style:italic") Partage des photos de cette annonce!
            br
            .photos-container
          .footer-form
            button.btn.btn-primary(type='submit') Créer

  script(src='../js/jquery.min.js')
  script(src='../js/bootstrap.bundle.js')
  script(src='../js/boxicons.js')
  script(src='../javascripts/announceCreation.js')
  

