extends layout

block content
  doctype html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet' href='./css/bootstrap.min.css')
    link(rel='stylesheet' href='./stylesheets/style.css')
    link(rel='stylesheet' href='./css/boxicons.min.css')
  include includes/navbar
  header
    .containter-gral-header
      .image
      .content-container
        .right-text
          .txt-content
            | Paris Immobilier
  body
    #gral-container
      #announces-container
  footer
    #footer-container 
      h5 TP Announces

  script(src='../js/jquery.min.js')
  //script(src='./js/popper.min.js')
  //script(src='./js/bootstrap.min.js')
  script(src='./js/bootstrap.bundle.js')
  script(src='./javascripts/home.js')

