doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Connexion
    link(rel='stylesheet' href='../css/bootstrap.min.css')
    link(rel='stylesheet' href='../stylesheets/style.css')
    link(rel='stylesheet' href='../stylesheets/forms.css')
    link(rel='stylesheet' href='../css/boxicons.min.css')
  body
    include includes/navbar
    .container-gral
      .container-form
        form.login-form(action='/users/login', method='POST')
          h2.title-form Se connecter
          .input-group.mb-3
            span#inputGroup-sizing-default.input-group-text
              label(for='email') E-mail :
              i.bx.bx-mail-send
            input.form-control(type='email', name='email', id='email', placeholder='name@example.com', aria-label='E-mail' aria-describedby='inputGroup-sizing-default' required)
          .input-group.mb-3
            span#inputGroup-sizing-default.input-group-text
              label(for='password') Mot de passe :
              i.bx.bx-lock
            input.form-control(type='password', name='password', id='password', aria-label='Mot de passe' aria-describedby='inputGroup-sizing-default' required)
          .footer-form
            button.btn.btn-primary(type='submit' style='margin-right:10px') Se connecter
            a.btn.btn-secondary(href='/') Annuler
    script(src='../js/jquery.slim.min.js')
    script(src='../js/bootstrap.bundle.js')
    script(src='../js/boxicons.js')
    script(src='../javascripts/general.js')
    script(src='../javascripts/login.js')
